<div class="home">
  <div class="header">
    <h1>Gemma - Economía circular para empresas</h1>
    <%= link_to "Iniciá el autodiagnóstico de tu empresa", new_company_registration_path(), class: "main-button" %>
  </div>
  <div id="content">
    <div class="section">
      <div class="image-box image-box-right">
        <div class="image-box-text">
          <p>Bienvenidos a la herramienta digital de gestión y autodiagnóstico de circularidad de Pymes, que permite integrar y profesionalizar buenas prácticas sostenibles.</p>
          <p>A través de esta plataforma, facilitamos un recurso para que las empresas grandes impulsen a las pymes de su cadena de valor a mejorar sus modelos de negocios desde la perspectiva de la circularidad.</p>
        </div>
        <div class="image-box-image"><img src="/images/workers.jpg"/></div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-left">
        <div class="image-box-image">
          <img src="/images/gennady.jpg"/>
        </div>
        <div class="image-box-text">
		  <h2>¿Qué problema queremos solucionar?</h2>
          <p>Las PYMEs en Uruguay enfrentan el desafío de adaptarse a nuevos marcos regulatorios sobre información de sostenibilidad, empresas grandes que van avanzando hacia la exigencia de incorporación de buenas prácticas, y un mercado global cada vez más exigente en temas de sostenibilidad.</p>
          <p>Las grandes empresas, se ven cada vez más exigidas a trabajar con su cadena de valor y ampliar su perspectiva de impacto, impulsando mejoras, y tomando la corresponsabilidad de esta transformación.</p>
          <p>Las empresas uruguayas que no transformen su modelo de negocio hacia uno más sostenible corren el riesgo de perder competitividad y oportunidades de crecimiento.</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-right">
        <div class="image-box-text">
		  <h2>¿Cómo la herramienta o hace?</h2>
          <p>La Plataforma busca nutrir esfuerzos ya implementados en el país (Ej. Estrategia Nacional de Economía Circular) facilitando una herramienta de gestión que permita integrar y profesionalizar las buenas prácticas en las pymes uruguayas, generando informes con identificación de mejoras, para profesionalizar la gestión estratégica, y potenciar la competitividad, afianzando los vínculos comerciales con actuales clientes, y potenciando oportunidades en mercados globales.</p>
        </div>
        <div class="image-box-image"><img src="/images/abeja.jpg"/></div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-left">
        <div class="image-box-image"><img src="/images/pymes.jpg"/></div>
          <div class="image-box-text">
            <h2>Beneficios para PYMES</h2>
            <ul>    
              <li>Generación de información clave sobre la operativa de la empresa</li>
              <li>Identificación de los principales aspectos ambientales a gestionar</li>
              <li>Identificación de oportunidades para la reducción de costos al optimizar el uso de recursos y minimizar desperdicios</li>
              <li>Detección de mejoras en los procesos que pueden generar una mayor eficiencia operativa</li>
              <li>Acceso a nuevas oportunidades de negocio, alineándose con clientes que buscan proveedores más sostenibles</li>
              <li>Posibilidad de explorar nuevas líneas de productos y modelos de negocio circulares</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="image-box image-box-right">
        <div class="image-box-image"><img src="/images/tractoras.jpeg"/></div>
          <div class="image-box-text">
            <h2>Beneficios para Empresas Tractoras</h2>
            <ul>    
              <li>Mayor sostenibilidad en su cadena de suministro, reduciendo riesgos ambientales y económicos</li>
              <li>Mejora en la trazabilidad de insumos y materias primas</li>
              <li>Cumplimiento de estándares y normativas ambientales, facilitando certificaciones y requisitos de mercado</li>
              <li>Refuerzo de su reputación en mercados que valoran la sostenibilidad</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
