<div class="home">
  <div class="header">
    <h1>Gemma - Economía circular para empresas</h1>
    <%= link_to "Iniciá el autodiagnóstico de tu empresa", new_company_registration_path(), class: "main-button" %>
  </div>
  <div id="content">
    <div class="section">
      <div class="image-box image-box-right">
        <div class="image-box-text">
          <p>Bienvenidos a la herramienta digital de gestión y autodiagnóstico de circularidad de Pymes, que permite integrar y profesionalizar buenas prácticas sostenibles.</p>
          <p>A través de esta plataforma, facilitamos un recurso para que las empresas grandes impulsen a las pymes de su cadena de valor a mejorar sus modelos de negocios desde la perspectiva de la circularidad.</p>
          <h3>¿Cómo funciona?</h3>
          <ol>
            <li data-controller="tabs">
              <button data-action="tabs#toggleInfo" data-tabs-target="infotrigger" aria-expanded="false" aria-control="tab1">
                <h4>1. Registrarse</h4><div class="arrow"></div>
              </button>
              <div id="tab1" class="tab-content" data-tabs-target="infopanel">
                <span>Creá tu cuenta de forma simple y accede a la plataforma para comenzar el proceso de diagnóstico. Debes confirmar tu correo antes de empezar a completar el formulario.</span>
              </div>
            </li>
            <li data-controller="tabs">
              <button data-action="tabs#toggleInfo" data-tabs-target="infotrigger" aria-expanded="false" aria-control="tab2">
                <h4>2. Seleccionar el rubro</h4><div class="arrow"></div>
              </button>
              <div id="tab2" class="tab-content" data-tabs-target="infopanel">
                <span>Una vez hayas recibido la confirmación de que se te dio de alta en el sistema. Debes completar algunos datos generales y elegir el sector al que pertenece tu empresa para adaptar la evaluación a tu realidad y tipo de actividad.</span>
              </div>
            </li>
            <li data-controller="tabs">
              <button data-action="tabs#toggleInfo" data-tabs-target="infotrigger" aria-expanded="false" aria-control="tab3">
                <h4>3. Completar el diagnóstico (entre 45 y 90 minutos)</h4><div class="arrow"></div>
              </button>
              <div id="tab3" class="tab-content" data-tabs-target="infopanel">
                <div>
                  <span>Responde una serie de preguntas sobre la gestión de tu empresa en temas clave de circularidad como, energía, agua, materia prima, envases, residuos, efluentes, emisiones y temas transversales.</span>
                  <br>
                  <span>Puedes hacerlo a tu ritmo y a medida que avanzas por la plataforma contarás con la opción de guardar los avances.</span>
                  <br>
                  <span>¡Estás a 1 hora de completar el diagnóstico de circularidad de tu empresa!</span>
                </div>
              </div>  
            </li>
            <li data-controller="tabs">
              <button data-action="tabs#toggleInfo" data-tabs-target="infotrigger" aria-expanded="false" aria-control="tab4">
                <h4>4. Diagnóstico</h4><div class="arrow"></div>
              </button>
              <div id="tab2" class="tab-content" data-tabs-target="infopanel">
                <span>Obtendrás una visual clara de tu nivel de avance en cada temática, identificando fortalezas y oportunidades de mejora de forma simple e inmediata.</span>
              </div>
            </li>
          </ol>
        </div>
        <div class="image-box-image"><img src="/images/chirayu.jpg"/></div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-left">
        <div class="image-box-image">
          <img src="/images/gennady.jpg"/>
        </div>
        <div class="image-box-text">
		  <h2>¿Qué problema queremos solucionar?</h2>
          <p>Las PYMEs en Uruguay enfrentan el desafío de adaptarse a nuevos marcos regulatorios sobre información de sostenibilidad, empresas grandes que van avanzando hacia la exigencia de incorporación de buenas prácticas, y un mercado global cada vez más exigente en temas de sostenibilidad.</p>
          <p>Las grandes empresas, se ven cada vez más exigidas a trabajar con su cadena de valor y ampliar su perspectiva de impacto, impulsando mejoras, y tomando la corresponsabilidad de esta transformación.</p>
          <p>Las empresas uruguayas que no transformen su modelo de negocio hacia uno más sostenible corren el riesgo de perder competitividad y oportunidades de crecimiento.</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-right">
        <div class="image-box-text">
		      <h2>¿Cómo lo hacemos?</h2>
          <p>La Plataforma busca nutrir esfuerzos ya implementados en el país (Ej. Estrategia Nacional de Economía Circular) facilitando una herramienta de gestión que permita integrar y profesionalizar las buenas prácticas en las pymes uruguayas, generando informes con identificación de mejoras, para profesionalizar la gestión estratégica, y potenciar la competitividad, afianzando los vínculos comerciales con actuales clientes, y potenciando oportunidades en mercados globales.</p>
        </div>
        <div class="image-box-image"><img src="/images/abeja.jpg"/></div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-left">
        <div class="image-box-image"><img src="/images/pymes.jpg"/></div>
        <div class="image-box-text">
          <h2>Beneficios para PYMES</h2>
          <ul>    
            <li>Generación de información clave sobre la operativa de la empresa</li>
            <li>Identificación de los principales aspectos ambientales a gestionar</li>
            <li>Identificación de oportunidades para la reducción de costos al optimizar el uso de recursos y minimizar desperdicios</li>
            <li>Detección de mejoras en los procesos que pueden generar una mayor eficiencia operativa</li>
            <li>Acceso a nuevas oportunidades de negocio, alineándose con clientes que buscan proveedores más sostenibles</li>
            <li>Posibilidad de explorar nuevas líneas de productos y modelos de negocio circulares</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="image-box image-box-right">
        <div class="image-box-image"><img src="/images/tractoras.jpeg"/></div>
        <div class="image-box-text">
          <h2>Beneficios para Empresas Tractoras</h2>
          <ul>    
            <li>Mayor sostenibilidad en su cadena de suministro, reduciendo riesgos ambientales y económicos</li>
            <li>Mejora en la trazabilidad de insumos y materias primas</li>
            <li>Cumplimiento de estándares y normativas ambientales, facilitando certificaciones y requisitos de mercado</li>
            <li>Refuerzo de su reputación en mercados que valoran la sostenibilidad</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 
