<body>
  <header></header>
  <h1>Se ha creado una nueva organización</h1>
  <hr>
  <p>
    Hola Admin<br>
    Se ha creado y confirmado una nueva organización, para aprobarla ingresa <%= link_to "AQUI", "https://#{Rails.application.routes.default_url_options[:host]}/admin/companies/#{@company.id}/edit"%> 
  </p>
  <p>
    Si usted ha recibido este correo por equivocación, por favor contacte a <a href="mailto:soporte@data.org.uy">Soporte de DATA</a><br>
    Muchas gracias
  </p>
</body>