#company-data {
  display: flex;
  gap: 100px;
  align-items: center;
}
#company-data img {
  width: 250px;
  height: max-content;
}
#company-dashboard .image-box {
  margin: 60px 0;
}
.disclaimer p {
  color: var(--Grises-Gris-03);
  font-size: 14px;
}