.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h3 {
  font-size: var(--body-text-general-strong-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--body-text-general-strong);
  color: #000;
}

.evaluation [type="date"],
.evaluation [type="datetime-local"],
.evaluation [type="email"],
.evaluation [type="month"],
.evaluation [type="number"],
.evaluation [type="password"],
.evaluation [type="search"],
.evaluation [type="tel"],
.evaluation [type="text"],
.evaluation [type="time"],
.evaluation [type="url"],
.evaluation [type="week"],
.evaluation select,
.evaluation textarea {
  width: max-content;
}

.dinamic-question > div {
  display: flex;
  justify-content: space-evenly;
  .option-header {
    font-weight: 600;
  }
  .option {
    
  }
}
#poll form .section-header {
  flex-direction: column;
  align-items: flex-start;
}