<div class="header-inner">
  <img src=/images/Group.svg />
  <nav>
    <ul>
      <li><%= link_to "Planes", planes_path() %>
      <li><%= link_to "Sobre el proyecto", sobre_el_proyecto_path() %>
      <li><%= link_to "Acceso a clientes",  company_session_path() %>
  </nav>
</div>